# virtual environment
venv/

# data (generated)
data/synthetic/
data/public/

# python junk
__pycache__/
*.pyc
.ipynb_checkpoints/
.ipython/
.jupyter/

# editor
.vscode/

# OS junk
.DS_Store
Thumbs.db
